.sliders_main {
  @apply flex flex-nowrap gap-[20px] bg-gray py-[20px];
}

.slide {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.sliders_small {
  @apply flex flex-col gap-[20px];
}

.fade {
  opacity: 0;
}

.text {
  @apply absolute left-[20px] text-start top-[20px] text-white font-medium text-[32px] pr-[20px];
}




@media only screen and (max-width: 960px) {

  .sliders_small {
    @apply hidden;
  }

  .text {
    @apply text-[24px];
  }

}

@media only screen and (max-width: 669px) {

  .sliders_main {
    @apply flex-wrap;
  }

  .slide {
    width: 100% !important;
    max-width: 100% !important;
  }

}