.burger {
  @apply flex flex-col gap-[5px];
}

.burger span {
  @apply w-[25px] h-[2px] bg-white block rounded-[4px];
}

.burger_block {
  @apply flex justify-center items-center gap-[15px] max-w-[180px] w-full border-[1px] border-orange h-[50px] rounded-[4px] relative cursor-pointer hover:bg-orange;
}

.burger_block:hover .menu_category {
  display: block !important;
}

.search {
  @apply absolute max-h-[300px] max-w-[310px] top-[45px] w-full left-0 z-[99] bg-white overflow-auto;
}

.search_wrapper  {
  @apply w-[310px] h-[50px] bg-white rounded-[4px] flex items-center pl-[15px] pr-[10px] gap-[8px] relative;
}

.search::-webkit-scrollbar {
  width: 4px; /* Ширина вертикальной полосы прокрутки */
  height: 1px; /* Высота горизонтальной полосы прокрутки */
}

.search::-webkit-scrollbar-track {
  background: #dedbdb; /* Цвет фона полосы прокрутки */
  border-radius: 10px; /* Закругление углов */
}

.search::-webkit-scrollbar-thumb {
  background: #f05a00; /* Цвет ползунка */
  border-radius: 10px; /* Закругление углов ползунка */
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 999;
  width: 100%;
  @apply max-w-[620px] h-[570px] py-[60px];
}

.modal-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 300ms, transform 300ms;
}

.category_btn {
  @apply flex bg-transparent h-[60px] text-black font-medium hover:bg-gray hover:text-white items-center justify-between w-full rounded-none p-[25px];
}

.category_btn:hover .arrow_path {
  stroke: white;
}


.sub_category {
  @apply absolute -right-[102px] z-[999] hidden  flex-col gap-[15px] h-auto w-auto top-0 bg-white px-[30px] py-[18px] transition;
}

.sub_category_item {
  @apply text-black hover:text-orange;
}

.menu_category {
  @apply absolute z-[999] -left-[1px] h-auto hidden w-auto top-[50px] bg-white;
}

.header_down {
  @apply bg-black w-full h-full min-h-[90px] flex justify-between items-center text-white px-[15px] max-w-[1270px] mx-auto;
}

@media only screen and (max-width: 580px) {
  .header_down {
    @apply gap-[20px] flex-wrap py-[15px];
  }

  .search_wrapper {
    @apply w-full;
  }

  .search {
    @apply w-full max-w-full;
  }
}


@media only screen and (max-width: 580px) {

  .menu_category {
    @apply right-0 left-auto;
  }

  .menu_block {
    width: 180px !important;
  }

  .category_title_parent {
    @apply order-2;
  }

  .arrow {
    @apply order-1;
    transform: rotate(180deg);
  }

  .sub_category {
    @apply -left-[100px] right-auto;
  }
}


@media only screen and (max-width: 393px) {

  .send_request {
    @apply order-2 w-full max-w-[200px] mx-auto;
  }

  .send_call {
    @apply order-1;
  }
}

